@font-face {
	font-family: 'zkwp';
	src:url('fonts/zkwp.eot?k3yq12');
	src:url('fonts/zkwp.eot?#iefixk3yq12') format('embedded-opentype'),
		url('fonts/zkwp.woff?k3yq12') format('woff'),
		url('fonts/zkwp.ttf?k3yq12') format('truetype'),
		url('fonts/zkwp.svg?k3yq12#zkwp') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: zkwp;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
	content: "\e607";
}
.icon-icon-add:before {
	content: "\e600";
}
.icon-icon-delete:before {
	content: "\e601";
}
.icon-icon-edit:before {
	content: "\e602";
}
.icon-icon-search:before {
	content: "\e603";
}
.icon-sorting:before {
	content: "\e604";
}
.icon-sorting-asc:before {
	content: "\e605";
}
.icon-sorting-desc:before {
	content: "\e606";
}
