.zkwp-disclosure{
    font-size: 0.9em;
    font-style: italic;
    @media screen and (max-width: 600px){
        font-size: 1em;
    }
}

.zkwp-tools-item{

    &:after{
        content: '';
        display: table;
        clear:both;
        border-collapse: collapse;
    }

    p, ul, h3, h4{
        margin: 5px 0;
        padding:0;
    }

    li:before{
        content: '-';
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px;
    }

}

.zkwp-tools-item-image{
    max-width:25%;
    float:right;
    max-height: 250px;
    margin-left: 2%;
}

.zkwp-tools-key{
    @extend %input;
    font-size: 0.9em;
    max-width: 50%;

    @media screen and (max-width: 600px){
        max-width: none;
        width: 99%;
    }
}

.zkwp-tools-message {
    border-radius: 10px;
    border: solid 1px;
    padding: 1%;
    margin: 1% 0;
    width: 96%;
    font-weight: bold;

    &.zkwp-error {
        background-color: lighten(#f00,40%);
        border-color: #f00;
        color: darken(#f00,40%);
    }

    &.zkwp-success {
        background-color: lighten(#0f0,40%);
        border-color: #0f0;
        color: darken(#0f0,40%);
    }   

}