/* General table styles */
.zkwp-tools-table-list, .zkwp-tools-table-view {
    clear:both;
    width: 99%;
    margin: 1% 0;
    clear: both;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: solid 1px #ddd;

    @media screen and (max-width: 800px){
        a{
            word-break: break-all; 
            word-wrap: break-word;
        }
    }    

    td {
        padding: 0.5% 1%;
        vertical-align: top;
    }    

    th{
        vertical-align: top;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-left: 16px;
        background-position: 4px center;
        background-repeat: no-repeat; 

        &.sorting{
            cursor: pointer;
            background-image: url('images/sorting.png');
        }    

        &.sorting_asc{
            cursor: pointer;
            background-image: url('images/sorting-asc.png');
        }

        &.sorting_desc{
            cursor: pointer;
            background-image: url('images/sorting-desc.png');
        } 

        @media screen and (max-width: 600px){
            background-image: none !important;
            padding-left: 0;
        }
    }

    .zkwp-table-col100{
        width: 100px;
    }

    .zkwp-table-col60{
        width: 60px;
    }

    ul {
        @extend %list-reset;
    }

}