/* Front Table list  */
.zkwp-tools-table-view {

    >tbody>tr{
        border-top: solid 1px #bfb;
        &:hover {
            background-color: lighten(#bfb, 5%);
        }
    }

    th:hover{
        background-color: lighten(#bfb, 5%);
    }
    
    .zkwp-google-link{
        float: left;
        margin-right: 4px;
        border: 0;
        >img{
            display:block;
        }
        @media screen and (max-width: 600px){
            display: none;
        }
    }
}