/* Admin Table list  */
.zkwp-tools-table-list{

    >tbody>tr:hover {
        background-color: #bfb;
    }

    .even {
        background-color: lighten(#bfb, 5%);
    }

    .odd {
        background-color: lighten(#bfb, 15%);
    }

    th{
        background-color: #bfb;
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        &.sorting{
            background-color: lighten(#bfb, 5%);
        }
    }

}