#qbca_form{

    .qbf-field-label {
        min-width: 150px;
    }

    .qbf-field-error {
        color: #c00;
        font-weight: bold;
        padding-left: 1em;
    } 


    .invalid & {
        .qbf-text, .qbf-textarea, .qbf-select, .qbf-date, .qbf-email{
            border-color: #f66;
            background-color: #ffe8e8;            
        }
    }       

    .qbf-textarea {
        min-width: 600px;
        min-height: 100px;
    }

    .qbf-text, .qbf-textarea, .qbf-select, .qbf-date, .qbf-email {
        width: 100%;
        min-width: 300px;
        box-sizing: content-box;
        height: 20px;
        padding: 2px;
        margin: 0px;
    }

    >input[type="submit"]{
        margin: 1em;
        margin-left: -2px;
    }

    #qbca_form-image{
        width: 90%;
        width: calc(100% - 35px);
    } 

}

